* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#ticker {
    position: relative;
    overflow: hidden;
    border: 3px dotted black;
    height: 30px;
}

#headlines {
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 3px;
}

#headlines a {
    padding-right: 35px;
    color:maroon;
}
