* {
    box-sizing: border-box;
}

body {
    margin: 0;
    
}

#ticker {
    position: relative;
    overflow: hidden;
    height: 40px;
    border: 2px solid;
    background-color: black;
}

#headlines {
    white-space: nowrap;
    position: absolute;
    left: 100%;
    top: 7px;
}

#headlines a {
    font-family: fantasy;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    background-color: black;
    margin: 1px;
    text-decoration: none;
}

