<div class="container1">
    <h1>Featuring Projects</h1>
</div>
<div class="container2">

{{#projects}}
  <a href="/{{{directory}}}"><div class="name">{{{title}}}
    
    </div><img src="/{{{directory}}}/preview.jpg" alt="{{{title}}}"></a>
{{/projects}}

</div>