body {
    margin: 0;
    background-color: lightgrey;
}

header {
    width: 100%;
    display: table;
    border: 1px gray dashed;
}

.pseudo-cell {
    width: 50%;
    display: table-cell;
    border: 1px black dotted;
    background-color: white;
}
.second {
    text-align: right;
}
#logo {
    height: 50px;
    width: 50px;
    position: relative;
    left: 10px;
    top: 10px;
}

#logo img {
    width: 300%;
}

#menu-button {
    height: 50px;
    width: 50px;
    display: inline-block;
    text-align: left;
    position: relative;
    left: -10px;
}

img {
    width: 100%;
    display: table;
}

.container {
    width: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 15px;
}

h1 {
    font-family: "Times New Roman";
    font-style: oblique;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 30%;
    right: 30%;
}

p {
    font-family: "Times New Roman";
    text-align: left;
    display: table-cell;
    font-size: 20px;
}

img[alt="cat"] {
    width: 5%;
    float: left;
}

img[alt="world"] {
    width: 5%;
    float: left;
}

img[alt="columns"] {
    width: 5%;
    float: left;
}

img[alt="swim"] {
    width: 5%;
    float: left;
}

main {
    float: left;
}

aside {
    float: right;
}
