body {
    margin: 0;
}

header {
    width: 100%;
    display: table;
    border: 1px gray dashed;
}

.pseudo-cell {
    width: 50%;
    display: table-cell;
    border: 1px black dotted
}

.first {
    text-align: center;
}

 .second {
    text-align: right;
}

.third {
    text-align: left;
}


#logo {
    height: 50px;
    width: 50px;
    position: relative;
    left: 10px;
    top: 10px;
}

#logo img {
    width: 300%
}

#menu-button {
    height: 50px;
    width: 50px;
    display: inline-block;
    text-align: left;
    position: relative;
    left: -10px;
}

img {
    width: 100%;
    display: table;
}

.container {
    width: 100%;
    background-color: lightgrey;
    position: relative;
    font-size: 15px;
}

h1 {
    font-family: fantasy;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 30%;
    right: 30%;
}

strong {
    font-size: 20px;
}

img[alt='cat'] {
    float: left ;
    width: 5%
    
}

img[alt='world'] {
    width: 5%;
    float: left ;
}

img[alt='columns'] {
    width: 5%;
    float: left ;
}

img[alt='swim'] {
    width: 5%
}
