body {
    margin: 0;
    background-color: lightgrey;
    font-family: "Times New Roman";
}

header {
    width: 100%;
    display: table;
}

.pseudo-cell {
    width: 50%;
    display: table-cell;  
    background-color: white;
}
.second {
    text-align: right;
}
#logo {
    height: 50px;
    width: 50px;
    position: relative;
    left: 10px;
    top: 10px;
}

#logo img {
    width: 300%;
}

#menu-button {
    height: 50px;
    width: 50px;
    display: inline-block;
    text-align: left;
    position: relative;
    left: -10px;
}

img {
    width: 100%;
    display: table;
}

.container {
    width: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 15px;
}

h1 {
    font-style: oblique;
    font-size: 30px;
    color: white;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 30%;
    right: 30%;
}

#button {
    width: 180px;
    position: absolute;
    top: 57%; 
    left: 40%;
    right: 50%;
    border: 4px solid goldenrod;
    border-radius:10mm;
    padding: 1px;
    background-color: yellow;
    color: goldenrod;
    text-align: center;
}

p {
    text-align: left;
    display: table-cell;
    font-size: 20px;
}

img[alt="cat"] {
    width: 3%;
    float: left;
}

img[alt="world"] {
    width: 3%;
    float: left;
}

img[alt="columns"] {
    width: 3%;
    float: left;
}

img[alt="swim"] {
    width: 3%;
    float: left;
}


#stay {
    display: table;
}