* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: white;
    color: white;
    font-family: monospace;
    text-align: center;
    background-image: url("lines.jpg");
    background-size:cover;
}
.container1 {
    height:280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container2 {
    display: flex;
    justify-content:space-around;
}

h1 {
    font-family:fantasy;
    letter-spacing: 6px;
    font-size: 50px;
    color: white;
    text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black,
        0 0 10px black;
    transition:0.8s;
}

.imgScr {  
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style:groove;
    border-width:thin;
    padding: 25px; 
    border-bottom: transparent;
    box-shadow: 0 0 10px black;
    transition: 1s; 
} 

.imgScr:hover {
    border:transparent;
    padding: 28px; 
    width:220px;
    height:220px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: none; 
}

.links { 
    
    border-style: solid;
    border-left: 1px;
    border-right:1px;
    border-bottom: transparent;
    opacity: 80%;
    border-radius: 50%;
    border-color: black;
    text-shadow: -1px 1px 0 white, 1px -1px 0 white, 1px 1px 0 white,
        -1px -1px 0 white;
    font-family:fantasy;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 500;
}

.name {
    font-size: 40px;
    color:black;
    transition:0.8s;
}

.name:hover {
    color:crimson;

}

.links:hover {
   opacity: 100%;
   border-color:black;
   box-shadow: 0 0 50px black;
    transition:0.3s;
}

footer {
    position:fixed;
    bottom:0;
    left:0;
}

.h2temp {
    text-shadow: -2px 2px 0px black, 2px -2px 0px black, 2px 2px 0px black,
        -2px -2px 0px black;
    color: white;
    font-family: fantasy;
    font-size: 30px;
     letter-spacing: 6px;
     font-weight: 500;
     width:500px;
     margin-bottom: 5px;
}

.imgtemp {
     width: 280px;

    box-shadow: 0 0 30px black, 0 0 30px black, 0 0 30px black,
        0 0 30px rgba(0, 0, 0, 0.1);
}

.container1temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   margin-bottom:20px; 
}


.go {
    color:crimson;
    font-size: 30px;
    margin-top: 20px;
    opacity: 90%;
    text-shadow: -1px 1px 0 white, 1px -1px 0 white, 1px 1px 0 white,
        -1px -1px 0 white;
    font-family:fantasy;
    text-decoration: none;
    color: crimson;
    font-size: 50px;
    font-weight: 500;
    border-radius:50%;
    letter-spacing: 6px;
    
    
}

.go:hover {
    opacity: 80%;
    transition: 0.1s;
    color:yellow;
    text-shadow: -2px 2px 0 crimson, 2px -2px 0 crimson, 2px 2px 0 crimson,
        -2px -2px 0 crimson;
}

.selectedProjectHighlighted {
    border-style: solid;
    border-left: 1px;
    border-right:1px;
    border-bottom: transparent;
    opacity: 100%;
    border-radius: 50%;
    border-color: black;
    text-shadow: 0 0 10px yellow, 0 0 10px yellow, 0 0 10px yellow,
        0 0 10px yellow;
    font-family:fantasy;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 500; 
}

.selectedProjectHighlighted:hover {
    border-color:black;
    box-shadow: 0 0 50px rgba(0, 0, 0);
    transition:0.3s;

}

.selectedProject { 
    
    border-style: solid;
    border-left: 1px;
    border-right:1px;
    border-bottom: transparent;
    opacity: 80%;
    border-radius: 50%;
    border-color: black;
    text-shadow: -1px 1px 0 white, 1px -1px 0 white, 1px 1px 0 white,
        -1px -1px 0 white;
    font-family:fantasy;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 500;
}

.selectedProject:hover {
    opacity: 100%;
    border-color:black;
    box-shadow: 0 0 50px rgba(0, 0, 0);
    transition:0.3s;
}

.h1temp {
    transition:none;
}
